<a href="https://colab.research.google.com/github/jcaicedoro/Algoritmos/blob/main/JPC_lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
a = 'Hola'
stringI = "Mundo"
print(a + ' ' + stringI )
print ("Hello World"+" "+"!!!")

Hola Mundo
Hello World !!!

An integer is a round number with no values after the decimal point.

In [ ]:
 i = 1000000000000000000000000000000000000000000000000000000000
print(i)
print(type(i)) #imprime el tipo de dato que lleva la variable suminstrada

1000000000000000000000000000000000000000000000000000000000
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
caracteres = "9999"
print (caracteres)
print ("Type of [caracteres]")
print(type(caracteres))
print ("Type of [to_int] after convert String into Integer")
to_int = int(caracteres) #guarda en otra variable la conversión de string a entero

print(type(to_int))

9999
Type of [caracteres]
<class 'str'>
Type of [to_int] after convert String into Integer
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
caracteres = "0"
f = ("String in [caracteres]: ")
g = ("Type of [to_float] after convert String into Float: ")
print(f+caracteres)
print (type(caracteres))
to_float = float(caracteres)
print('{}{}'.format(g,to_float))
print(type(to_float))

String in [caracteres]: 0
<class 'str'>
Type of [to_float] after convert String into Float: 0.0
<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_bool = True
print(my_bool)
print("Type of [my_bool]")
print(type(my_bool))

True
Type of [my_bool]
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
print("Addition ", 85+-1)
print("Subtraction ", 7-22)
print("Multiplication ", 2*2*2)
print("Division ", 13/2)
print('exponent', 9**0.5)

Addition  84
Subtraction  -15
Multiplication  8
Division  6.5
exponent 3.0

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['different', 'types of variables', 1,2,3]
print(my_list)

['different', 'types of variables', 1, 2, 3]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['p1', 'p2', 3,4,'p5']
print(len(my_list)) #devuelve la longitud de la lista suministrada 
print(my_list[0]) #imprime el primer elemento de la lista
print(my_list[len(my_list) -1]) #imprime el ultimo elemento de la lista

5
p1
p5

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Frente','Viejo',401,103]
print (my_list)
my_list[1] = 'al' #remplaza el elemento de la posición [n] por la entrada dada
print(my_list)

['Frente', 'Viejo', 401, 103]
['Frente', 'al', 401, 103]

A list can also be sliced with a colon:

In [ ]:
my_list = ['E0','E1',2,3,4]
print(my_list[1:3]) #devuelve los valores desde [n(inclusive):m(exclusive)] hasta

['E1', 2]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:]) #devuelve desde el elemento indicado hasta el último

['E1', 2, 3, 4]

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3]) #devuelve todos los valores hasta la posición indicada excluisve (n-1)

['E0', 'E1', 2]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'how', 'are']
my_list.append('you') #añade el elemento indicado en la última posición
my_list.append('?')
print(my_list)

['Hello', 'how', 'are', 'you', '?']

In [ ]:
my_list.remove('Hello') #remueve de la lista el elemento indicado
print(my_list)

['how', 'are', 'you', '?']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Not','possible','change')

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Not','possible','change')
print(my_tuple[1:]) #devuelve los elementos de la tupla desde la posición dada hasta el final de esta

('possible', 'change')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['Yoru', 'Sage', 'Reyna','Jett','Yoru'] #lista con un elemento repetido 
print ("Entire list")
print (stock_list)
stock_set = set(stock_list) #crea una colección sin elementos repetidos
print("without repeated elements")
print(stock_set)

Entire list
['Yoru', 'Sage', 'Reyna', 'Jett', 'Yoru']
without repeated elements
{'Sage', 'Yoru', 'Reyna', 'Jett'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'NT':'NiceTry', 'GS':'GoodShot', 'WP':'WellPlayed',23:4545}

In [ ]:
print(my_dic[23])

4545

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['WP'] = 'WellPlayed Bro' #cambia el valor referente a la clave 
print(my_dic['WP'])

WellPlayed Bro

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys()) #imprime las llaves que tiene este dic

dict_keys(['NT', 'GS', 'WP', 23])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Un fantasma recorre Europa'
print(my_str[12:]) #devuelve los caracteres que se ubican después de la posición indicada

recorre Europa

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Los murcielagos son frugívoros'.count('e')) #devuelve el número de coinsidencias con el caracter dado
print('Los hakceos aumentan en kabul'.find('k')) #devuelve la posición de la primera coinsidecnia del caracter dado(key sensitive)
print('Trabajadores atacaron los negocios'.replace('e','a')) #remplaza el primer caracter por el segundo

1
6
Trabajadoras atacaron los nagocios

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = 'Ingreso:Cunplido Hora:09.43.15'
splited_list = Time.split(' ') #divide la lista cuando encuentra el caracter dado
state = splited_list[0] 
time = splited_list[1]
print(state, time)
here = state.split(':')[1] #guarda en una variable el resultado de dividir el nuevo string con un caracter dado
hour = time.split(':')[1]
print(here)
print(hour)

Ingreso:Cunplido Hora:09.43.15
Cunplido
09.43.15

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Day: {}, Month:{}, Year : {}'.format('9','11','2002')
print(my_time)

Day: 9, Month:11, Year : 2002

Another way to format a string is to use the % symbol.

In [ ]:
print('Euler constant is %f'%2.718)
print('%s to %s'%('Pay','Win'))

Euler constant is 2.718000
Pay to Win

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
print(1 == 0) #Compara dos numeros con operaciones lógicas 
print(1 == 1) #si la operación lógica se cumple devuelve True, 
print(1 != 0) #de lo contrario False 
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
print(2 > 1 and 3 > 2) #el operador and retorna True si ambas operaciones lógicas son verdaderas
print(2 > 1 and 3 > 2) 
print(2 != 1 or 3 == 2) #el operador OR returna True si almenos una de las operaciones lógicas es verdaderas 
print(2 < 1 and 3 < 2)

True
True
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print((300 == 220 or 12 < 31) and (91!=37 and 54>30) and not ( 37 < 204 or 17 < 30 and (1!=3 and 13>1)))
print(3 < 2 or 1 != 3 and (3==3 and 4>3) and not ( 3 < 2 and 101 != 301 and (1!=3 and 99>44)))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
n = 45
if n%9 == 0: #Operación lógica que si se cumple se ejecuta el bloque 
    print('n es divisor de 9')

n es divisor de 9

As we mentioned above, we can write some complex statements here:

In [ ]:
p = True  #establecemos booleanos a las variables p y q 
q = True
if p and q: #si p and q -> ('p and q is true'), si no -> continua 
    print('p and q is true')
elif p and not q:   #si p and (not q) -> ('q is false'), si no -> continua 
    print('q is false')
elif q and not p:   #si q and (not p) -> ('p is false'), si no -> continua 
    print('p is false')
else:   #si ninguna de las condiciones se cumple ->  ('None of p and q is true')
    print('None of p and q is true')

p and q is true

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 199
while i > 1: #si la condición es verdadera se ejecutan las siguientes lineas, si no, se acaba el programa 
    print(i) #imprime la varianle i
    i -= 5   #decrementa en 5 la variable

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for i in [10,9,8,7,6,5,4,3,2,1,0,-1,-2,-3,-4,-5,-6,-7,-8,-9]:
    print(i) #imprime todos los elementos de la lista

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
players = ['Yoru', 'Sage', 'Reyna','Jett','Astra','Neon','Raze']
op = ['Yoru','Neon','Reyna']
new_list = []
for i in players: #recorre la lista players 
    if i not in op: #revisa si los elementos de players no están en op, si no, los agrega a la nueva lista 
        new_list.append(i) #agrega los elementos que cumplan la condicion anterior a la nueva lista 
print(new_list)

['Sage', 'Jett', 'Astra', 'Raze']

Here we iterated all the elements in the list 'players'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
players = ['Yoru', 'Sage', 'Reyna','Jett','Astra','Neon','Raze']
for i in players: #recorre la lista players 
    print(i) 
    if i == 'Jett': #comprueba si la variable toma el valor ingresado 
        break #detiene el ciclo

Yoru
Sage
Reyna
Jett

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
players = ['Yoru', 'Sage', 'Reyna','Jett','Astra','Neon','Raze']
for i in players: #recorre la lista players 
    if i == 'Sage': #comprueba si la variable toma el valor ingresado 
        continue #si si, se ejecuta el continue y sigue el ciclo for sin imprimir 
    print(i)

Yoru
Reyna
Jett
Astra
Neon
Raze

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
cubes = []
l = [1,2,3,4,5]
for i in l:
    cubes.append(i**3) #se añade el cubo de cada uno de los valores de la lista 
print(cubes)

[1, 8, 27, 64, 125]

Using list comprehension:

In [ ]:
list = [1,2,3,4,5]
cubes = [x**3 for x in list]
print(cubes)

[1, 8, 27, 64, 125]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
players = ['Yoru', 'Sage', 'Reyna','Jett','Astra','Neon','Raze']
selected = ['Yoru','Cypher','Jett']
new_list = [x for x in players if x in selected] #recorre la lista players y comprueba si el elemento está en seleccionados,
print ('Operadores seleccionados')                #si si los añade a la nueva lista 
print(new_list)

Operadores seleccionados
['Yoru', 'Jett']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
print([(x,y,z) for x in [1,2] for y in [3,4] for z in [5,6]]) #imprime un vector con cada uno de sus componentes sacados de las listas suministradas
print([str(x)+' vs '+str(y) for x in ['Yoru','Cypher','Jett'] for y in ['Sage', 'Reyna','Jett','Astra'] if x!=y]) #imprime una cadena de texto con cada uno de sus componentes sacados de las listas suministradas

[(1, 3, 5), (1, 3, 6), (1, 4, 5), (1, 4, 6), (2, 3, 5), (2, 3, 6), (2, 4, 5), (2, 4, 6)]
['Yoru vs Sage', 'Yoru vs Reyna', 'Yoru vs Jett', 'Yoru vs Astra', 'Cypher vs Sage', 'Cypher vs Reyna', 'Cypher vs Jett', 'Cypher vs Astra', 'Jett vs Sage', 'Jett vs Reyna', 'Jett vs Astra']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def exponent(x,y):
    return x**y
print(exponent(3,7))  #imprime el resultado de llamar la función con los parametros (x,y) dadas 
print(exponent(2,9))  #

2187
512

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
def my_first_hello():
    print('Hello World !!!!')
my_first_hello() #llama la función que no necesita parámetros

Hello World !!!!

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
print(range(2))
print(range(1,11))
print(range(1,11,2))

range(0, 2)
range(1, 11)
range(1, 11, 2)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
players = ['Yoru', 'Sage', 'Reyna','Jett','Astra','Neon','Raze']
print('The number of players is {}'.format(len(players))) #imprime el numero de jugadores de la lista 
for i in range(len(players)): #recorre con un for toda la lista
    print(players[i]) #imprime uno a uno los jugadores

The number of players is 7
Yoru
Sage
Reyna
Jett
Astra
Neon
Raze

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

In [ ]:
players = ['Yoru', 'Sage', 'Reyna','Jett','Astra','Neon','Raze']
print('The number of players is {}'.format(len(players))) #imprime el numero de jugadores de la lista 
for x in players:
  print (x)

The number of players is 7
Yoru
Sage
Reyna
Jett
Astra
Neon
Raze

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [ ]:
list=[1,2,3,4] #definimos list 
print(list)
del list #se borra 
list

[1, 2, 3, 4]

list

In [ ]:
pl = ['Yoru', 'Sage', 'Reyna','Jett','Astra','Neon','Raze']
list(map(len,pl)) #aplica una función sobre todos los elementos, es decir devuelve el largo de cada elemento de la lista

[4, 4, 5, 4, 5, 4, 4]

In [ ]:
pl = ['Yoru', 'Sage', 'Reyna','Jett','Astra','Neon','Raze']
print(list(map(len,pl)))  #aplica una función sobre todos los elementos, es decir devuelve el largo de cada elemento de la lista

[4, 4, 5, 4, 5, 4, 4]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
list(map(lambda x: x**3, range(1,10,2))) #map aplica la función lambda a los elementos del rango dado

[1, 27, 125, 343, 729]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
list(map(lambda x, y: x*y, [1,2,3,4,5],[5,4,3,2,1])) #aplica la función lambda con las dos listas suministradas

[5, 8, 9, 8, 5]

**sorted()** takes a list or set and returns a new sorted list

In [ ]:
import random
l = [-89,12,5,1,5,4,8,5,2,-2,6,48]
sorted(l) #ordena de manera ascendente la lista suministrada

[-89, -2, 1, 2, 4, 5, 5, 5, 6, 8, 12, 48]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
price_list = [('COP',1),('MXN',0.0055),('EUR',0.00024),('CAD',0.00034)]
sorted(price_list, key = lambda x: x[1]) #ordena la lista dada tomando el segundo elemento de esta de menor a mayor

[('EUR', 0.00024), ('CAD', 0.00034), ('MXN', 0.0055), ('COP', 1)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
price_list = [('COP',1),('MXN',0.0055),('EUR',0.00024),('CAD',0.00034)]
sorted(price_list, key = lambda x: x[1],reverse = True) #ordena la lista dada tomando el segundo elemento de esta de mayor a menor

[('COP', 1), ('MXN', 0.0055), ('CAD', 0.00034), ('EUR', 0.00024)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
price_list = [('COP',1),('MXN',0.0055),('EUR',0.00024),('CAD',0.00034)]
price_list.sort(key = lambda x: x[1])  #ordena la lista y queda guardada ya ordenada
print(price_list)

[('EUR', 0.00024), ('CAD', 0.00034), ('MXN', 0.0055), ('COP', 1)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [ ]:
class stock:
    def __init__(self, ticker, open, close, volume): #se definen los atributos 
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):  #metodos de la clase 
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self): #metodos de la clase 
        print(self.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [ ]:
apple = stock('AAPL', 143.69, 144.09, 20109375) #se crean dos objetos de la clase 
google = stock('GOOG', 898.7, 911.7, 1561616)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [ ]:
apple.ticker
google.print_return()
google.update(1,2) #se llama a los metodos de la clase 
google.print_return()

1.0
1.0

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [ ]:
apple.ceo = 'Tim Cook' #agrega un atributo al objeto 
apple.ceo

'Tim Cook'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
#dir(apple)
dir(google)   #retorna la lista de atributos validos del objeto

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
class child(stock): #clase hijo que hereda los atributos del padre (stock)
    def __init__(self,name):
        self.name = name

In [ ]:
aa = child('aa') #nuevo objeto
print(aa.name) #imprime el atributo del hijo name 
aa.update(100,20) #usa metodo padre update 
print(aa.open) #imprime atributo
print(aa.close)
print(aa.print_return())

aa
100
20
-0.8
None

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [58]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [ ]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list) #guarda en un nuevo arreglo un arreglo NumPy(ndarray)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:
Ar = np.array([[1,3],[2,4]]) #crea un arreglo bidimensional 
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
print(Ar.shape) #dimensiones del arreglo

(2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
print(Ar[0]) #indice de la fila (acceso) 
print(Ar[1])

[1 3]
[2 4]

If we want to access the matrix by column instead:

In [ ]:
print('the first column: ', Ar[:,0]) #tipo de acceso a las columnas 
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
print(np.log(price_array)) #aplica ln a todo elemento del arreglo suministrado

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

Other functions return a single value:

In [ ]:
print(np.mean(price_array)) #retorna el promedio de los elementos del arreglo 
print(np.std(price_array))  #retorna la desviación estandar de los elementos del arreglo
print(np.sum(price_array))  #retorna la suma de los elementos del arreglo 
print(np.max(price_array))  #retorna el máximo de los elementos del arreglo

143.89666666666668
0.9673790478515796
863.38
145.83

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [5]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [39]:
price = [9991.2,9992,9993,9994,9995,9996]
s = pd.Series(price) #enumera los elementos de la lista 
s

0    9991.2
1    9992.0
2    9993.0
3    9994.0
4    9995.0
5    9996.0
dtype: float64

We can customize the indices of a new Series:

In [40]:
s = pd.Series(price,index = ['x1','x2','x3','x4','x5','x6']) #se le puede dar un orden personalizado entregando una lista del mismo tamaño
s

x1    9991.2
x2    9992.0
x3    9993.0
x4    9994.0
x5    9995.0
x6    9996.0
dtype: float64

Or we can change the indices of an existing Series:

In [41]:
s.index = [6,5,-10,3,2,1] #se puede modificar los indices de series ya establecdas
s

 6     9991.2
 5     9992.0
-10    9993.0
 3     9994.0
 2     9995.0
 1     9996.0
dtype: float64

Series is like a list since it can be sliced by index:

In [42]:
print(s[1:]) #imprime desde el parametro dado, exclusive 
print(s[:-3]) #imprime desde el inicio omitiendo los elementos determinados

 5     9992.0
-10    9993.0
 3     9994.0
 2     9995.0
 1     9996.0
dtype: float64
 6     9991.2
 5     9992.0
-10    9993.0
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [43]:
print(s[-10]) #imprime el valor asociado al indice dado 
s[-10] = 0 #establece los valores del indice dado 
print(s)

9993.0
 6     9991.2
 5     9992.0
-10       0.0
 3     9994.0
 2     9995.0
 1     9996.0
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [44]:
s = pd.Series(price, name = 'Precios Paloquemao') #le otorga un nombre (id) a la serie 
print(s)
print(s.name) #imprime el nombre determinado

0    9991.2
1    9992.0
2    9993.0
3    9994.0
4    9995.0
5    9996.0
Name: Precios Paloquemao, dtype: float64
Precios Paloquemao

We can get the statistical summaries of a Series:

In [45]:
print(s.describe()) #entrega las estadisticas descriptivas de la serie dada

count       6.000000
mean     9993.533333
std         1.818424
min      9991.200000
25%      9992.250000
50%      9993.500000
75%      9994.750000
max      9996.000000
Name: Precios Paloquemao, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [46]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'Y')  #establece un indice de la serie con intervalos de tiempo 
#type(time_index)                                                     #se entrega un formato de año, mes y día, la longitud de la serie
print(time_index)                                                     #y la variación de este formato
s.index = time_index
print(s)

DatetimeIndex(['2017-12-31', '2018-12-31', '2019-12-31', '2020-12-31',
               '2021-12-31', '2022-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')
2017-12-31    9991.2
2018-12-31    9992.0
2019-12-31    9993.0
2020-12-31    9994.0
2021-12-31    9995.0
2022-12-31    9996.0
Freq: A-DEC, Name: Precios Paloquemao, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [47]:
s.index = [66,65,64,63,62,61]  #a través del indice dado se puede relacionar y ubicar un elemento de la serie
print(s)
print(s[66])  #entrega el elemento relacionado con este indice

66    9991.2
65    9992.0
64    9993.0
63    9994.0
62    9995.0
61    9996.0
Name: Precios Paloquemao, dtype: float64
9991.2

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [50]:
print(s.iloc[0]) #devuelve el elemento que se ubica en la posición establecida

9991.2

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [54]:
s.index = time_index  #se le puede dar como indice a la serie 's' el time index anteriormente establecido 
print(s['2017-12-31'])  #devuelve el elemento de la serie asociado con esa fecha

9991.2

We can even access to a range of dates:

In [56]:
print(s['2018-01-02':'2022-01-05']) #accedemos a un intervalo de fechas con las cuales establecemos la serie

2018-12-31    9992.0
2019-12-31    9993.0
2020-12-31    9994.0
2021-12-31    9995.0
Freq: A-DEC, Name: Precios Paloquemao, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [62]:
print(s[s < np.mean(s)] ) #retorna los valores de la serie que sean menores al promedio de esta 
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))]) #se le puede añadir operaciones lógicas para el resultado esperado 
                                                              #con datos propios de la serie

2017-12-31    9991.2
2018-12-31    9992.0
2019-12-31    9993.0
Freq: A-DEC, Name: Precios Paloquemao, dtype: float64
[2017-12-31    False
2018-12-31    False
2019-12-31    False
2020-12-31     True
2021-12-31     True
2022-12-31     True
Freq: A-DEC, Name: Precios Paloquemao, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [ ]:
!pip install yfinance #herramienta para descargar datos de mercado de Yahoo

In [66]:
import yfinance as yf #importa 

GG = yf.Ticker("GOOG") #toma los datos asociados al mercado consultado

# get stock info
print(GG.info) #imprime la información ->

# get historical market data
GG_table = GG.history(start="2016-01-01",  end="2017-12-31") #entrega el historial del intervalo establecido sobre el mercado consultado
GG_table

{'zip': '94043', 'sector': 'Communication Services', 'fullTimeEmployees': 156500, 'longBusinessSummary': 'Alphabet Inc. provides online advertising services in the United States, Europe, the Middle East, Africa, the Asia-Pacific, Canada, and Latin America. The company offers performance and brand advertising services. It operates through Google Services, Google Cloud, and Other Bets segments. The Google Services segment provides products and services, such as ads, Android, Chrome, Google Maps, Google Play, Search, and YouTube; subscription-based products; and Fitbit wearable devices, Google Nest home products, Pixel phones, and other devices, as well as in-app purchases and digital content. The Google Cloud segment offers infrastructure, platform, and other services; Google Workspace that include cloud-based collaboration tools for enterprises, such as Gmail, Docs, Drive, Calendar and Meet; and other services for enterprise customers. The Other Bets segment sells health technology and internet services, as well as licensing and research and development services. The company was incorporated in 1998 and is headquartered in Mountain View, California.', 'city': 'Mountain View', 'phone': '650 253 0000', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.abc.xyz', 'maxAge': 1, 'address1': '1600 Amphitheatre Parkway', 'industry': 'Internet Content & Information', 'ebitdaMargins': 0.35377, 'profitMargins': 0.29512, 'grossMargins': 0.5694, 'operatingCashflow': 91651997696, 'revenueGrowth': 0.324, 'operatingMargins': 0.30552, 'ebitda': 91144003584, 'targetLowPrice': 3150, 'recommendationKey': 'strong_buy', 'grossProfits': 146698000000, 'freeCashflow': 49490001920, 'targetMedianPrice': 3485, 'currentPrice': 2593.21, 'earningsGrowth': 0.377, 'currentRatio': 2.928, 'returnOnAssets': 0.14493, 'numberOfAnalystOpinions': 10, 'targetMeanPrice': 3463.5, 'debtToEquity': 11.329, 'returnOnEquity': 0.32069, 'targetHighPrice': 3900, 'totalCash': 139649007616, 'totalDebt': 28508000256, 'totalRevenue': 257637007360, 'totalCashPerShare': 211.278, 'financialCurrency': 'USD', 'revenuePerShare': 385.886, 'quickRatio': 2.8, 'recommendationMean': 1.5, 'exchange': 'NMS', 'shortName': 'Alphabet Inc.', 'longName': 'Alphabet Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'GOOG', 'messageBoardId': 'finmb_29096', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 6.072, 'beta3Year': None, 'enterpriseToEbitda': 17.163, '52WeekChange': 0.2113719, 'morningStarRiskRating': None, 'forwardEps': 136.06, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 315639008, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 380.044, 'sharesShort': 1771392, 'sharesPercentSharesOut': 0.0027, 'fundFamily': None, 'lastFiscalYearEnd': 1640908800, 'heldPercentInstitutions': 0.66253996, 'netIncomeToCommon': 76032999424, 'trailingEps': 112.197, 'lastDividendValue': None, 'SandP52WeekChange': 0.053094983, 'priceToBook': 6.8234468, 'heldPercentInsiders': 0.00034000003, 'nextFiscalYearEnd': 1703980800, 'yield': None, 'mostRecentQuarter': 1640908800, 'shortRatio': 0.93, 'sharesShortPreviousMonthDate': 1643587200, 'floatShares': 573571083, 'beta': 1.06496, 'enterpriseValue': 1564302376960, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1430092800, 'lastSplitFactor': '10027455:10000000', 'legalType': None, 'lastDividendDate': None, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.356, 'priceToSalesTrailing12Months': 6.832358, 'dateShortInterest': 1646006400, 'pegRatio': 1.6, 'ytdReturn': None, 'forwardPE': 19.059313, 'lastCapGain': None, 'shortPercentOfFloat': None, 'sharesShortPriorMonth': 1400466, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 2534.82, 'regularMarketOpen': 2554.83, 'twoHundredDayAverage': 2757.4346, 'trailingAnnualDividendYield': 0, 'payoutRatio': 0, 'volume24Hr': None, 'regularMarketDayHigh': 2610.345, 'navPrice': None, 'averageDailyVolume10Day': 1402870, 'regularMarketPreviousClose': 2534.82, 'fiftyDayAverage': 2709.348, 'trailingAnnualDividendRate': 0, 'open': 2554.83, 'toCurrency': None, 'averageVolume10days': 1402870, 'expireDate': None, 'algorithm': None, 'dividendRate': None, 'exDividendDate': None, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 2531.36, 'currency': 'USD', 'trailingPE': 23.113007, 'regularMarketVolume': 1514630, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 1760268255232, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 1542320, 'dayLow': 2531.36, 'ask': 2601.21, 'askSize': 800, 'volume': 1514630, 'fiftyTwoWeekHigh': 3042, 'fromCurrency': None, 'fiveYearAvgDividendYield': None, 'fiftyTwoWeekLow': 2010.73, 'bid': 2593.21, 'tradeable': False, 'dividendYield': None, 'bidSize': 800, 'dayHigh': 2610.345, 'regularMarketPrice': 2593.21, 'preMarketPrice': 2553.42, 'logo_url': 'https://logo.clearbit.com/abc.xyz', 'trailingPegRatio': 0.9445}

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-01-04,743.000000,744.059998,731.257996,741.840027,3272800,0,0
2016-01-05,746.450012,752.000000,738.640015,742.580017,1950700,0,0
2016-01-06,730.000000,747.179993,728.919983,743.619995,1947000,0,0
2016-01-07,730.309998,738.500000,719.059998,726.390015,2963700,0,0
2016-01-08,731.450012,733.229980,713.000000,714.469971,2450900,0,0
...,...,...,...,...,...,...,...
2017-12-22,1061.109985,1064.199951,1059.439941,1060.119995,755100,0,0
2017-12-26,1058.069946,1060.119995,1050.199951,1056.739990,760600,0,0
2017-12-27,1057.390015,1058.369995,1048.050049,1049.369995,1271900,0,0
2017-12-28,1051.599976,1054.750000,1044.770020,1048.140015,837100,0,0
2017-12-29,1046.719971,1049.699951,1044.900024,1046.400024,887500,0,0

We will create a Series named "GG" whose values are GOOGLE's daily closing prices, which are of course indexed by dates:

In [75]:
GG = GG_table['Close']['2017'] #se crea una tabla donde los valores destacados son las columnas de cierre en el año 2017

In [77]:
print(GG) #imprime la tabla mencionada

Date
2017-01-03     786.140015
2017-01-04     786.900024
2017-01-05     794.020020
2017-01-06     806.150024
2017-01-09     806.650024
                 ...
2017-12-22    1060.119995
2017-12-26    1056.739990
2017-12-27    1049.369995
2017-12-28    1048.140015
2017-12-29    1046.400024
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [82]:
print(GG['2017-9']) #se puede filtrar de manera más específica indicando los parámetros

Date
2017-09-01    937.340027
2017-09-05    928.450012
2017-09-06    927.809998
2017-09-07    935.950012
2017-09-08    926.500000
2017-09-11    929.080017
2017-09-12    932.070007
2017-09-13    935.090027
2017-09-14    925.109985
2017-09-15    920.289978
2017-09-18    915.000000
2017-09-19    921.809998
2017-09-20    931.580017
2017-09-21    932.450012
2017-09-22    928.530029
2017-09-25    920.969971
2017-09-26    924.859985
2017-09-27    944.489990
2017-09-28    949.500000
2017-09-29    959.109985
Name: Close, dtype: float64

In [83]:
GG['2017-2':'2017-4'] #también establecer intervalos de tiempo

Date
2017-02-01    795.695007
2017-02-02    798.530029
2017-02-03    801.489990
2017-02-06    801.340027
2017-02-07    806.969971
                 ...
2017-04-24    862.760010
2017-04-25    872.299988
2017-04-26    871.729980
2017-04-27    874.250000
2017-04-28    905.960022
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [85]:
print(GG.head(2)) #entrega los (n) primeros elementos de la tabla 
print(GG.tail(5)) #entrega los (n) últimos elementos de la tabla

Date
2017-01-03    786.140015
2017-01-04    786.900024
Name: Close, dtype: float64
Date
2017-12-22    1060.119995
2017-12-26    1056.739990
2017-12-27    1049.369995
2017-12-28    1048.140015
2017-12-29    1046.400024
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [89]:
by_day = GG.resample('D').mean() #agrupa la información en el intervalo de frecuencia determinado
print(by_day)

Date
2017-01-03     786.140015
2017-01-04     786.900024
2017-01-05     794.020020
2017-01-06     806.150024
2017-01-07            NaN
                 ...
2017-12-25            NaN
2017-12-26    1056.739990
2017-12-27    1049.369995
2017-12-28    1048.140015
2017-12-29    1046.400024
Freq: D, Name: Close, Length: 361, dtype: float64

We can also aggregate the data by week:

In [91]:
by_week = GG.resample('W').mean() #hace el ordenamiento con frecuencia semana a semana 
print(by_week.head()) #entrega los primeros elementos de este

Date
2017-01-08    793.302521
2017-01-15    806.717993
2017-01-22    804.468750
2017-01-29    826.862000
2017-02-05    798.965002
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [93]:
GG.resample('M').min() #encuentra el valor minimo en la frecuencia dada

Date
2017-01-31     786.140015
2017-02-28     795.695007
2017-03-31     814.429993
2017-04-30     823.349976
2017-05-31     912.570007
2017-06-30     908.729980
2017-07-31     898.700012
2017-08-31     906.659973
2017-09-30     915.000000
2017-10-31     951.679993
2017-11-30    1018.380005
2017-12-31     998.679993
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [97]:
three_day = GG.resample('4D').mean() #ordena y entrega cada 4 dias 
two_week = GG.resample('4W').mean() #ordena y entrega cada 4 semanas 
two_month = GG.resample('4M').mean()  #ordena y entrega cada 4 meses
print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03     793.302521
2017-01-07     805.720001
2017-01-11     807.383321
2017-01-15     805.339996
2017-01-19     803.597504
                 ...
2017-12-13    1051.316650
2017-12-17    1070.923340
2017-12-21    1061.875000
2017-12-25    1051.416667
2017-12-29    1046.400024
Freq: 4D, Name: Close, Length: 91, dtype: float64
Date
2017-01-08     793.302521
2017-02-05     809.505262
2017-03-05     822.139475
2017-04-02     834.480502
2017-04-30     844.056840
2017-05-28     936.175494
2017-06-25     961.947375
2017-07-23     937.839478
2017-08-20     929.598505
2017-09-17     926.168952
2017-10-15     952.812500
2017-11-12    1006.475494
2017-12-10    1026.249473
2018-01-07    1055.192854
Freq: 4W-SUN, Name: Close, dtype: float64
Date
2017-01-31     807.904752
2017-05-31     860.328975
2017-09-30     937.325769
2018-01-31    1017.919045
Freq: 4M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [98]:
std = GG.resample('W').std()  #devuelve la desviación estandar de la serie 
max = GG.resample('W').max()  #entrega el max 
min = GG.resample('W').min()  #entrega min 


print(std)
print(max)
print(min)

Date
2017-01-08     9.271221
2017-01-15     1.286577
2017-01-22     1.648152
2017-01-29     6.785008
2017-02-05     2.882899
2017-02-12     4.476093
2017-02-19     3.888738
2017-02-26     1.356907
2017-03-05     4.301519
2017-03-12     5.971306
2017-03-19     2.730815
2017-03-26    13.392346
2017-04-02     5.882941
2017-04-09     5.451000
2017-04-16     0.645758
2017-04-23     2.849201
2017-04-30    16.568690
2017-05-07     8.065152
2017-05-14     2.058548
2017-05-21     8.719065
2017-05-28    12.907173
2017-06-04     5.743123
2017-06-11    14.294068
2017-06-18     5.898889
2017-06-25     5.367715
2017-07-02    17.409210
2017-07-09     8.380824
2017-07-16    11.601406
2017-07-23     7.663487
2017-07-30    17.654578
2017-08-06     3.028084
2017-08-13     9.169523
2017-08-20     7.423927
2017-08-27     8.115862
2017-09-03    10.771394
2017-09-10     4.259703
2017-09-17     5.815036
2017-09-24     7.375925
2017-10-01    16.330452
2017-10-08    11.710768
2017-10-15     7.918404
2017-10-22     3.558963
2017-10-29    21.572126
2017-11-05     6.649262
2017-11-12     5.387203
2017-11-19     5.228673
2017-11-26     9.678139
2017-12-03    18.848620
2017-12-10    16.344819
2017-12-17    10.225138
2017-12-24     6.685706
2017-12-31     4.551121
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08     806.150024
2017-01-15     807.909973
2017-01-22     806.070007
2017-01-29     835.669983
2017-02-05     802.320007
2017-02-12     813.669983
2017-02-19     828.070007
2017-02-26     831.659973
2017-03-05     835.239990
2017-03-12     843.250000
2017-03-19     852.119995
2017-03-26     848.400024
2017-04-02     831.500000
2017-04-09     838.549988
2017-04-16     824.729980
2017-04-23     843.190002
2017-04-30     905.960022
2017-05-07     931.659973
2017-05-14     934.299988
2017-05-21     943.000000
2017-05-28     971.469971
2017-06-04     975.880005
2017-06-11     983.679993
2017-06-18     953.400024
2017-06-25     965.590027
2017-07-02     952.270020
2017-07-09     918.590027
2017-07-16     955.989990
2017-07-23     972.919983
2017-07-30     980.340027
2017-08-06     930.830017
2017-08-13     929.359985
2017-08-20     926.960022
2017-08-27     927.000000
2017-09-03     939.330017
2017-09-10     935.950012
2017-09-17     935.090027
2017-09-24     932.450012
2017-10-01     959.109985
2017-10-08     978.890015
2017-10-15     989.679993
2017-10-22     992.809998
2017-10-29    1019.270020
2017-11-05    1032.479980
2017-11-12    1039.849976
2017-11-19    1032.500000
2017-11-26    1040.609985
2017-12-03    1054.209961
2017-12-10    1037.050049
2017-12-17    1064.189941
2017-12-24    1077.140015
2017-12-31    1056.739990
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08     786.140015
2017-01-15     804.789978
2017-01-22     802.174988
2017-01-29     819.309998
2017-02-05     795.695007
2017-02-12     801.340027
2017-02-19     818.979980
2017-02-26     828.640015
2017-03-05     823.210022
2017-03-12     827.780029
2017-03-19     845.539978
2017-03-26     814.429993
2017-04-02     819.510010
2017-04-09     824.669983
2017-04-16     823.349976
2017-04-23     836.820007
2017-04-30     862.760010
2017-05-07     912.570007
2017-05-14     928.780029
2017-05-21     919.619995
2017-05-28     941.859985
2017-06-04     964.859985
2017-06-11     949.830017
2017-06-18     939.780029
2017-06-25     950.630005
2017-07-02     908.729980
2017-07-09     898.700012
2017-07-16     928.799988
2017-07-23     953.419983
2017-07-30     934.090027
2017-08-06     923.650024
2017-08-13     907.239990
2017-08-20     910.669983
2017-08-27     906.659973
2017-09-03     913.809998
2017-09-10     926.500000
2017-09-17     920.289978
2017-09-24     915.000000
2017-10-01     920.969971
2017-10-08     951.679993
2017-10-15     972.599976
2017-10-22     984.450012
2017-10-29     968.450012
2017-11-05    1016.640015
2017-11-12    1025.900024
2017-11-19    1019.090027
2017-11-26    1018.380005
2017-12-03    1010.169983
2017-12-10     998.679993
2017-12-17    1040.479980
2017-12-24    1060.119995
2017-12-31    1046.400024
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [99]:
last_day = GG.resample('M').agg(lambda x: x[-1]) #agrega la función lamda para tomar el valor del último día del mes 
print(last_day)

Date
2017-01-31     796.789978
2017-02-28     823.210022
2017-03-31     829.559998
2017-04-30     905.960022
2017-05-31     964.859985
2017-06-30     908.729980
2017-07-31     930.500000
2017-08-31     939.330017
2017-09-30     959.109985
2017-10-31    1016.640015
2017-11-30    1021.409973
2017-12-31    1046.400024
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [100]:
monthly_return = GG.resample('M').agg(lambda x: x[-1]/x[0] - 1) #devuelve el retorno tomando el ultimo día de mes sobre el primero
print(monthly_return)

Date
2017-01-31    0.013547
2017-02-28    0.034580
2017-03-31   -0.006800
2017-04-30    0.080389
2017-05-31    0.057300
2017-06-30   -0.060210
2017-07-31    0.035384
2017-08-31    0.009132
2017-09-30    0.023225
2017-10-31    0.066476
2017-11-30   -0.003988
2017-12-31    0.035865
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [ ]:
print(monthly_return.mean()) #
print(monthly_return.std()) #desviación estandar
print(monthly_return.max()) #maximo del retorno

0.02686331860727394
0.052258487776588924
0.09901841642506737

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [101]:
print(last_day.diff()) #diferencia entre dos valores (ultimo mes)
print(last_day.pct_change())  #porcentaje de cambio de dos valores (ultimo mes)

Date
2017-01-31          NaN
2017-02-28    26.420044
2017-03-31     6.349976
2017-04-30    76.400024
2017-05-31    58.899963
2017-06-30   -56.130005
2017-07-31    21.770020
2017-08-31     8.830017
2017-09-30    19.779968
2017-10-31    57.530029
2017-11-30     4.769958
2017-12-31    24.990051
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.033158
2017-03-31    0.007714
2017-04-30    0.092097
2017-05-31    0.065014
2017-06-30   -0.058174
2017-07-31    0.023957
2017-08-31    0.009490
2017-09-30    0.021058
2017-10-31    0.059983
2017-11-30    0.004692
2017-12-31    0.024466
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [102]:
daily_return = last_day.pct_change() 
#type(daily_return)
print(daily_return.fillna(0)) #evita la impresión de 'NaN' y rellena estos espacios vacíos con '0s'

Date
2017-01-31    0.000000
2017-02-28    0.033158
2017-03-31    0.007714
2017-04-30    0.092097
2017-05-31    0.065014
2017-06-30   -0.058174
2017-07-31    0.023957
2017-08-31    0.009490
2017-09-30    0.021058
2017-10-31    0.059983
2017-11-30    0.004692
2017-12-31    0.024466
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill')) #remplaza en NaN por el siguiente valor, evita espacios vacíos

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [103]:
daily_return = last_day.pct_change()
daily_return.dropna() #dropna elimina los valores NaN pero no muestra el indice enlazado a este

Date
2017-02-28    0.033158
2017-03-31    0.007714
2017-04-30    0.092097
2017-05-31    0.065014
2017-06-30   -0.058174
2017-07-31    0.023957
2017-08-31    0.009490
2017-09-30    0.021058
2017-10-31    0.059983
2017-11-30    0.004692
2017-12-31    0.024466
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [108]:
import pandas as pd

dict = {'Yoru': [0,1,2],'Sage':[3,2,0], #creamos un diccionario 
        'Neon':[1,3,4],'Raze':[5,5,0]}
data_index = pd.date_range('2000-09-30',periods = 3, freq = '2D') #se establece el indice en un rango establecido
df = pd.DataFrame(dict, index = data_index)                       #el numero de periodos y la frecuencia 
print(df)

            Yoru  Sage  Neon  Raze
2000-09-30     0     3     1     5
2000-10-02     1     2     3     5
2000-10-04     2     0     4     0

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [110]:
df = GG_table #definimos la tabla a evaluar 
print(df.Close.tail(12)) #con esto podemos determinar que columna va a retornar, el orden y el número de filas 
print(df['Volume'].tail(5)) #de igual manera establecer el parametro literal de la columna

Date
2017-12-13    1040.609985
2017-12-14    1049.150024
2017-12-15    1064.189941
2017-12-18    1077.140015
2017-12-19    1070.680054
2017-12-20    1064.949951
2017-12-21    1063.630005
2017-12-22    1060.119995
2017-12-26    1056.739990
2017-12-27    1049.369995
2017-12-28    1048.140015
2017-12-29    1046.400024
Name: Close, dtype: float64
Date
2017-12-22     755100
2017-12-26     760600
2017-12-27    1271900
2017-12-28     837100
2017-12-29     887500
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [112]:
GG_2016 = df['2016']
GG_month = GG_2016.resample('M').agg(lambda x: x[-1]) #vemos que con dataFrame podemos producir las mismas salidas como resample 
print(GG_month)

                  Open        High         Low       Close   Volume  \
Date
2016-01-31  731.530029  744.989990  726.799988  742.950012  3474300
2016-02-29  700.320007  710.890015  697.679993  697.770020  2481100
2016-03-31  749.250000  750.849976  740.940002  744.950012  1718800
2016-04-30  690.700012  697.619995  689.000000  693.010010  2487700
2016-05-31  731.739990  739.729980  731.260010  735.719971  2129500
2016-06-30  685.469971  692.320007  683.650024  692.099976  1597700
2016-07-31  772.710022  778.549988  766.770020  768.789978  3841500
2016-08-31  767.010010  769.090027  765.380005  767.049988  1248600
2016-09-30  776.330017  780.940002  774.090027  777.289978  1585300
2016-10-31  795.469971  796.859985  784.000000  784.539978  2427300
2016-11-30  770.070007  772.989990  754.830017  758.039978  2392900
2016-12-31  782.750000  782.780029  770.409973  771.820007  1770000

            Dividends  Stock Splits
Date
2016-01-31          0             0
2016-02-29          0             0
2016-03-31          0             0
2016-04-30          0             0
2016-05-31          0             0
2016-06-30          0             0
2016-07-31          0             0
2016-08-31          0             0
2016-09-30          0             0
2016-10-31          0             0
2016-11-30          0             0
2016-12-31          0             0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

We may select certain columns of a DataFrame using their names:

In [114]:
GG_bar = GG_month[['Open', 'High', 'Low', 'Close']] #filtro por columnas 
print(GG_bar)

                  Open        High         Low       Close
Date
2016-01-31  731.530029  744.989990  726.799988  742.950012
2016-02-29  700.320007  710.890015  697.679993  697.770020
2016-03-31  749.250000  750.849976  740.940002  744.950012
2016-04-30  690.700012  697.619995  689.000000  693.010010
2016-05-31  731.739990  739.729980  731.260010  735.719971
2016-06-30  685.469971  692.320007  683.650024  692.099976
2016-07-31  772.710022  778.549988  766.770020  768.789978
2016-08-31  767.010010  769.090027  765.380005  767.049988
2016-09-30  776.330017  780.940002  774.090027  777.289978
2016-10-31  795.469971  796.859985  784.000000  784.539978
2016-11-30  770.070007  772.989990  754.830017  758.039978
2016-12-31  782.750000  782.780029  770.409973  771.820007

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [115]:
print(GG_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']]) #tambien puede filtrar por columna e intervalo

                  Open        High         Low       Close
Date
2016-03-31  749.250000  750.849976  740.940002  744.950012
2016-04-30  690.700012  697.619995  689.000000  693.010010
2016-05-31  731.739990  739.729980  731.260010  735.719971
2016-06-30  685.469971  692.320007  683.650024  692.099976

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [116]:
import numpy as np

above = GG_bar[GG_bar.Close > np.mean(GG_bar.Close)]  #tambien puede filtrar por columna e intervalo, estableciendo operaciones logicas
print(above)

                  Open        High         Low       Close
Date
2016-03-31  749.250000  750.849976  740.940002  744.950012
2016-07-31  772.710022  778.549988  766.770020  768.789978
2016-08-31  767.010010  769.090027  765.380005  767.049988
2016-09-30  776.330017  780.940002  774.090027  777.289978
2016-10-31  795.469971  796.859985  784.000000  784.539978
2016-11-30  770.070007  772.989990  754.830017  758.039978
2016-12-31  782.750000  782.780029  770.409973  771.820007

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [117]:
GG_bar['rate_return'] = GG_bar.Close.pct_change() #se puede añadir datos como el porcentaje en este caso
print(GG_bar)

                  Open        High         Low       Close  rate_return
Date
2016-01-31  731.530029  744.989990  726.799988  742.950012          NaN
2016-02-29  700.320007  710.890015  697.679993  697.770020    -0.060812
2016-03-31  749.250000  750.849976  740.940002  744.950012     0.067615
2016-04-30  690.700012  697.619995  689.000000  693.010010    -0.069723
2016-05-31  731.739990  739.729980  731.260010  735.719971     0.061630
2016-06-30  685.469971  692.320007  683.650024  692.099976    -0.059289
2016-07-31  772.710022  778.549988  766.770020  768.789978     0.110808
2016-08-31  767.010010  769.090027  765.380005  767.049988    -0.002263
2016-09-30  776.330017  780.940002  774.090027  777.289978     0.013350
2016-10-31  795.469971  796.859985  784.000000  784.539978     0.009327
2016-11-30  770.070007  772.989990  754.830017  758.039978    -0.033778
2016-12-31  782.750000  782.780029  770.409973  771.820007     0.018178

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [118]:
missing = GG_bar.isnull()
print(missing)
print('---------------------------------------------') #detalle impresión 
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [119]:
print(missing[missing.rate_return == True]) #retorna la OL

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [120]:
drop = GG_bar.dropna() #metodos para evitar la impresión del NaN 
print(drop)
print('\n--------------------------------------------------\n')
fill = GG_bar.fillna(0) #llena esta posición con 0s
print(fill)

                  Open        High         Low       Close  rate_return
Date
2016-02-29  700.320007  710.890015  697.679993  697.770020    -0.060812
2016-03-31  749.250000  750.849976  740.940002  744.950012     0.067615
2016-04-30  690.700012  697.619995  689.000000  693.010010    -0.069723
2016-05-31  731.739990  739.729980  731.260010  735.719971     0.061630
2016-06-30  685.469971  692.320007  683.650024  692.099976    -0.059289
2016-07-31  772.710022  778.549988  766.770020  768.789978     0.110808
2016-08-31  767.010010  769.090027  765.380005  767.049988    -0.002263
2016-09-30  776.330017  780.940002  774.090027  777.289978     0.013350
2016-10-31  795.469971  796.859985  784.000000  784.539978     0.009327
2016-11-30  770.070007  772.989990  754.830017  758.039978    -0.033778
2016-12-31  782.750000  782.780029  770.409973  771.820007     0.018178

--------------------------------------------------

                  Open        High         Low       Close  rate_return
Date
2016-01-31  731.530029  744.989990  726.799988  742.950012     0.000000
2016-02-29  700.320007  710.890015  697.679993  697.770020    -0.060812
2016-03-31  749.250000  750.849976  740.940002  744.950012     0.067615
2016-04-30  690.700012  697.619995  689.000000  693.010010    -0.069723
2016-05-31  731.739990  739.729980  731.260010  735.719971     0.061630
2016-06-30  685.469971  692.320007  683.650024  692.099976    -0.059289
2016-07-31  772.710022  778.549988  766.770020  768.789978     0.110808
2016-08-31  767.010010  769.090027  765.380005  767.049988    -0.002263
2016-09-30  776.330017  780.940002  774.090027  777.289978     0.013350
2016-10-31  795.469971  796.859985  784.000000  784.539978     0.009327
2016-11-30  770.070007  772.989990  754.830017  758.039978    -0.033778
2016-12-31  782.750000  782.780029  770.409973  771.820007     0.018178

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [125]:
s1 = pd.Series([1,2,3], name = 'In') #se declara la serie y el nombre de esta 
s2 = pd.Series([4,5,6], name = 'Rev')
data_frame = pd.concat([s1,s2], axis = 1) #se concatenan para que lleve la misma 
print(data_frame)

   In  Rev
0   1    4
1   2    5
2   3    6

The "axis = 1" parameter will join two DataFrames by columns:

In [126]:
log_price = np.log(GG_bar.Close) #devuelve indice y columna dada 
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([GG_bar, log_price], axis = 1) #concatenamos 2 series 
print(concat)

Date
2016-01-31    6.610629
2016-02-29    6.547890
2016-03-31    6.613317
2016-04-30    6.541044
2016-05-31    6.600850
2016-06-30    6.539730
2016-07-31    6.644818
2016-08-31    6.642552
2016-09-30    6.655813
2016-10-31    6.665098
2016-11-30    6.630736
2016-12-31    6.648751
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                  Open        High         Low       Close  rate_return  \
Date
2016-01-31  731.530029  744.989990  726.799988  742.950012          NaN
2016-02-29  700.320007  710.890015  697.679993  697.770020    -0.060812
2016-03-31  749.250000  750.849976  740.940002  744.950012     0.067615
2016-04-30  690.700012  697.619995  689.000000  693.010010    -0.069723
2016-05-31  731.739990  739.729980  731.260010  735.719971     0.061630
2016-06-30  685.469971  692.320007  683.650024  692.099976    -0.059289
2016-07-31  772.710022  778.549988  766.770020  768.789978     0.110808
2016-08-31  767.010010  769.090027  765.380005  767.049988    -0.002263
2016-09-30  776.330017  780.940002  774.090027  777.289978     0.013350
2016-10-31  795.469971  796.859985  784.000000  784.539978     0.009327
2016-11-30  770.070007  772.989990  754.830017  758.039978    -0.033778
2016-12-31  782.750000  782.780029  770.409973  771.820007     0.018178

            log_price
Date
2016-01-31   6.610629
2016-02-29   6.547890
2016-03-31   6.613317
2016-04-30   6.541044
2016-05-31   6.600850
2016-06-30   6.539730
2016-07-31   6.644818
2016-08-31   6.642552
2016-09-30   6.655813
2016-10-31   6.665098
2016-11-30   6.630736
2016-12-31   6.648751

We can also join two DataFrames by rows. Consider these two DataFrames:

In [127]:
df_volume = GG_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1]) #se recorre en el intervalo dado 
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = GG_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1]) #devuelve los datos establecidos en las var
print(df_2017)

             Volume  Stock Splits
Date
2016-10-31  2427300             0
2016-11-30  2392900             0
2016-12-31  1770000             0
2017-01-31  2160600             0
2017-02-28  2260800             0
2017-03-31  1401900             0
2017-04-30  3276300             0

---------------------- separate line--------------------

                  Open        High         Low       Close
Date
2016-10-31  795.469971  796.859985  784.000000  784.539978
2016-11-30  770.070007  772.989990  754.830017  758.039978
2016-12-31  782.750000  782.780029  770.409973  771.820007
2017-01-31  796.859985  801.250000  790.520020  796.789978
2017-02-28  825.609985  828.539978  820.200012  823.210022
2017-03-31  828.969971  831.640015  827.390015  829.559998
2017-04-30  910.659973  916.849976  905.770020  905.960022

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [129]:
concat = pd.concat([GG_bar, df_volume], axis = 1) #concatenación de las dos 
print('\n---------------------- separate line--------------------\n')
print(concat)

---------------------- separate line--------------------

                  Open        High         Low       Close  rate_return  \
Date
2016-01-31  731.530029  744.989990  726.799988  742.950012          NaN
2016-02-29  700.320007  710.890015  697.679993  697.770020    -0.060812
2016-03-31  749.250000  750.849976  740.940002  744.950012     0.067615
2016-04-30  690.700012  697.619995  689.000000  693.010010    -0.069723
2016-05-31  731.739990  739.729980  731.260010  735.719971     0.061630
2016-06-30  685.469971  692.320007  683.650024  692.099976    -0.059289
2016-07-31  772.710022  778.549988  766.770020  768.789978     0.110808
2016-08-31  767.010010  769.090027  765.380005  767.049988    -0.002263
2016-09-30  776.330017  780.940002  774.090027  777.289978     0.013350
2016-10-31  795.469971  796.859985  784.000000  784.539978     0.009327
2016-11-30  770.070007  772.989990  754.830017  758.039978    -0.033778
2016-12-31  782.750000  782.780029  770.409973  771.820007     0.018178
2017-01-31         NaN         NaN         NaN         NaN          NaN
2017-02-28         NaN         NaN         NaN         NaN          NaN
2017-03-31         NaN         NaN         NaN         NaN          NaN
2017-04-30         NaN         NaN         NaN         NaN          NaN

               Volume  Stock Splits
Date
2016-01-31        NaN           NaN
2016-02-29        NaN           NaN
2016-03-31        NaN           NaN
2016-04-30        NaN           NaN
2016-05-31        NaN           NaN
2016-06-30        NaN           NaN
2016-07-31        NaN           NaN
2016-08-31        NaN           NaN
2016-09-30        NaN           NaN
2016-10-31  2427300.0           0.0
2016-11-30  2392900.0           0.0
2016-12-31  1770000.0           0.0
2017-01-31  2160600.0           0.0
2017-02-28  2260800.0           0.0
2017-03-31  1401900.0           0.0
2017-04-30  3276300.0           0.0

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [130]:
concat = pd.concat([GG_bar,df_volume],axis = 1, join = 'inner') #concatena con todas las columnas por default
print(concat)

                  Open        High         Low       Close  rate_return  \
Date
2016-10-31  795.469971  796.859985  784.000000  784.539978     0.009327
2016-11-30  770.070007  772.989990  754.830017  758.039978    -0.033778
2016-12-31  782.750000  782.780029  770.409973  771.820007     0.018178

             Volume  Stock Splits
Date
2016-10-31  2427300             0
2016-11-30  2392900             0
2016-12-31  1770000             0

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [131]:
append = GG_bar.append(df_2017) #unión a través de parametros en rango de tiempo 
print(append)

                  Open        High         Low       Close  rate_return
Date
2016-01-31  731.530029  744.989990  726.799988  742.950012          NaN
2016-02-29  700.320007  710.890015  697.679993  697.770020    -0.060812
2016-03-31  749.250000  750.849976  740.940002  744.950012     0.067615
2016-04-30  690.700012  697.619995  689.000000  693.010010    -0.069723
2016-05-31  731.739990  739.729980  731.260010  735.719971     0.061630
2016-06-30  685.469971  692.320007  683.650024  692.099976    -0.059289
2016-07-31  772.710022  778.549988  766.770020  768.789978     0.110808
2016-08-31  767.010010  769.090027  765.380005  767.049988    -0.002263
2016-09-30  776.330017  780.940002  774.090027  777.289978     0.013350
2016-10-31  795.469971  796.859985  784.000000  784.539978     0.009327
2016-11-30  770.070007  772.989990  754.830017  758.039978    -0.033778
2016-12-31  782.750000  782.780029  770.409973  771.820007     0.018178
2016-10-31  795.469971  796.859985  784.000000  784.539978          NaN
2016-11-30  770.070007  772.989990  754.830017  758.039978          NaN
2016-12-31  782.750000  782.780029  770.409973  771.820007          NaN
2017-01-31  796.859985  801.250000  790.520020  796.789978          NaN
2017-02-28  825.609985  828.539978  820.200012  823.210022          NaN
2017-03-31  828.969971  831.640015  827.390015  829.559998          NaN
2017-04-30  910.659973  916.849976  905.770020  905.960022          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [132]:
concat = pd.concat([GG_bar, df_2017], axis = 0)
print(concat)

                  Open        High         Low       Close  rate_return
Date
2016-01-31  731.530029  744.989990  726.799988  742.950012          NaN
2016-02-29  700.320007  710.890015  697.679993  697.770020    -0.060812
2016-03-31  749.250000  750.849976  740.940002  744.950012     0.067615
2016-04-30  690.700012  697.619995  689.000000  693.010010    -0.069723
2016-05-31  731.739990  739.729980  731.260010  735.719971     0.061630
2016-06-30  685.469971  692.320007  683.650024  692.099976    -0.059289
2016-07-31  772.710022  778.549988  766.770020  768.789978     0.110808
2016-08-31  767.010010  769.090027  765.380005  767.049988    -0.002263
2016-09-30  776.330017  780.940002  774.090027  777.289978     0.013350
2016-10-31  795.469971  796.859985  784.000000  784.539978     0.009327
2016-11-30  770.070007  772.989990  754.830017  758.039978    -0.033778
2016-12-31  782.750000  782.780029  770.409973  771.820007     0.018178
2016-10-31  795.469971  796.859985  784.000000  784.539978          NaN
2016-11-30  770.070007  772.989990  754.830017  758.039978          NaN
2016-12-31  782.750000  782.780029  770.409973  771.820007          NaN
2017-01-31  796.859985  801.250000  790.520020  796.789978          NaN
2017-02-28  825.609985  828.539978  820.200012  823.210022          NaN
2017-03-31  828.969971  831.640015  827.390015  829.559998          NaN
2017-04-30  910.659973  916.849976  905.770020  905.960022          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [134]:
df_2017.columns = ['Change', 'High','Low','Close'] #establece especificaciones de salida 
concat = pd.concat([GG_bar, df_2017], axis = 0) #concatena con axis=0
print('\n---------------------- separate line--------------------\n')
print(concat)

---------------------- separate line--------------------

                  Open        High         Low       Close  rate_return  \
Date
2016-01-31  731.530029  744.989990  726.799988  742.950012          NaN
2016-02-29  700.320007  710.890015  697.679993  697.770020    -0.060812
2016-03-31  749.250000  750.849976  740.940002  744.950012     0.067615
2016-04-30  690.700012  697.619995  689.000000  693.010010    -0.069723
2016-05-31  731.739990  739.729980  731.260010  735.719971     0.061630
2016-06-30  685.469971  692.320007  683.650024  692.099976    -0.059289
2016-07-31  772.710022  778.549988  766.770020  768.789978     0.110808
2016-08-31  767.010010  769.090027  765.380005  767.049988    -0.002263
2016-09-30  776.330017  780.940002  774.090027  777.289978     0.013350
2016-10-31  795.469971  796.859985  784.000000  784.539978     0.009327
2016-11-30  770.070007  772.989990  754.830017  758.039978    -0.033778
2016-12-31  782.750000  782.780029  770.409973  771.820007     0.018178
2016-10-31         NaN  796.859985  784.000000  784.539978          NaN
2016-11-30         NaN  772.989990  754.830017  758.039978          NaN
2016-12-31         NaN  782.780029  770.409973  771.820007          NaN
2017-01-31         NaN  801.250000  790.520020  796.789978          NaN
2017-02-28         NaN  828.539978  820.200012  823.210022          NaN
2017-03-31         NaN  831.640015  827.390015  829.559998          NaN
2017-04-30         NaN  916.849976  905.770020  905.960022          NaN

                Change
Date
2016-01-31         NaN
2016-02-29         NaN
2016-03-31         NaN
2016-04-30         NaN
2016-05-31         NaN
2016-06-30         NaN
2016-07-31         NaN
2016-08-31         NaN
2016-09-30         NaN
2016-10-31         NaN
2016-11-30         NaN
2016-12-31         NaN
2016-10-31  795.469971
2016-11-30  770.070007
2016-12-31  782.750000
2017-01-31  796.859985
2017-02-28  825.609985
2017-03-31  828.969971
2017-04-30  910.659973

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.